@import url(https://fonts.googleapis.com/css?family=Montserrat|Open+Sans);
@import "asciidoctor.css"; /* Default asciidoc style framework - important */

/* Custom block: details */

.sidebarblock.details > .content {
    border-left: .25rem solid rgba(0, 0, 0, 0.1);
}

.sidebarblock.details > .content {
    padding-left: .5rem
}

.sidebarblock.details {
    background-color: transparent;
    border: none;
    padding-bottom: 0;
    padding-top: 0;
}

/* Nav bar */
/* Credits: https://github.com/CS2103AUG2017-W11-B2/main/blob/master/docs/stylesheets/gh-pages.css */
#content #navbar {
    width: 100%;
    max-width: 60.8em;
    background-color: white;
    z-index:1;
    overflow: hidden;
    position:fixed !important;
    top: 0;
}

div.nav-headbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-bottom: solid #7a2518;
}

div.nav-headbar li {
    float: left;
}

div.nav-headbar li:last-child {
    float: right;
}

div.nav-headbar li:last-child a {
    padding-right: 20px;
}

div.nav-headbar li p {
    margin: 0;
}

div.nav-headbar li a {
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    padding: 10px 10px;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-family:"Open Sans","DejaVu Sans",sans-serif;
    font-style: normal;
}

div.nav-headbar li a:hover {
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    color: white;
    background-color: #a53221;
}

@media print {
    a:link:after, a:visited:after {
        content: "";
    }
}
