/*@@author jasmoon*/
@font-face  {
    font-family: 'Open Sans Bold Italic';
    src: url('../fonts/open-sans/OpenSans-BoldItalic.ttf');
}

@font-face  {
    font-family: 'Open Sans Italic';
    src: url('../fonts/open-sans/OpenSans-Italic.ttf');
}

@font-face  {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face  {
    font-family: 'Arvo';
    src: url('../fonts/arvo/Arvo-Regular.ttf');
}

@font-face  {
    font-family: 'Arvo Bold';
    src: url('../fonts/arvo/Arvo-Bold.ttf');
}

/* menu bar*/
.menu-bar {
    -fx-background-color: #f7e399;
    -fx-padding: 0 2 0 2;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #dbdad9;
}

.menu-bar .label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
}

.context-menu {
    -fx-background-color: #ffd177;
    -fx-border-width: 2 0 0 0;
    -fx-border-color: #969594;
}

/* taskList and eventList */

.list-view   {
    -fx-background-color: transparent;
    -fx-border-insets: 2 2 2 2;
    -fx-background-insets: 2 2 2 2;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.list-cell:empty    {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.list-cell:filled:hover {
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #2dc6c6;
    -fx-border-insets: 0 0 0 1;
    -fx-background-insets: 0 0 0 1;
}

#taskListView .list-cell:filled:even {
    -fx-background: linear-gradient(to right, #e8e8e8 0%, #e8e8e8 82.5%, #b2eaff 82.5%, #b2eaff 100%);
}

#taskListView .list-cell:filled:odd   {
    -fx-background: linear-gradient(to right, #d1d1d1 0%, #d1d1d1 82.5%, #8ccef2 82.5%, #8ccef2 100%);
}

#eventListView .list-cell:filled:even {
    -fx-background: linear-gradient(to right, #e8e8e8 0%, #e8e8e8 82.5%, #ffd6d8 82.5%, #ffd6d8 100%);
}

#eventListView .list-cell:filled:odd {
    -fx-background: linear-gradient(to right, #d1d1d1 0%, #d1d1d1 82.5%, #ffb2b5 82.5%, #ffb2b5 100%);
}

.list-cell .label {
    -fx-text-fill: black;
}

.cell_big_label {
    -fx-font-family: "Open Sans Bold Italic";
    -fx-font-size: 14pt;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Open Sans Italic";
    -fx-font-size: 10pt;
    -fx-text-fill: #010504;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-font-family: "Open Sans";
    -fx-text-fill: white;
    -fx-background-color: #854c99;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.scroll-bar .thumb  {
    -fx-background-color: linear-gradient(to right, #f4f4f4, #bcbcbc);
    -fx-background-insets: 2;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: "|";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

/* resultBox */
.text-area  {
    -fx-text-fill: black;
}

#resultBox {
    -fx-background-color: transparent;
    -fx-opacity: 0.45;
    -fx-background-radius: 2px 2px 2px 2px;
}

/* commandBox */

#commandBoxPlaceholder {
    -fx-background-color: white;
    -fx-opacity: 0.45;
    -fx-background-radius: 4px 4px 4px 4px;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: grey;
    -fx-border-radius: 4px 4px 4px 4px;
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
}

/* statusBar */

#statusBarPlaceholder   {
    -fx-background-color: #f7e399 /*silver #d8d7d0*/;
    -fx-font-color: black;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #dbdad9;

}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
}

.grid-pane .anchor-pane {
    -fx-background-color: #f7e399;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #dbdad9;
}

/* miscs */
.background {
    -fx-background-image: url("../images/light-veneer.png");
    -fx-background-repeat: repeat;
}

.split-pane-divider {
   -fx-background-color: transparent;
}
