@font-face  {
    font-family: 'Open Sans Bold Italic';
    src: url('../fonts/open-sans/OpenSans-BoldItalic.ttf');
}

@font-face  {
    font-family: 'Open Sans Italic';
    src: url('../fonts/open-sans/OpenSans-Italic.ttf');
}

@font-face  {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}

/* menu bar*/
.menu-bar {
    -fx-background-color: #f7e399;
    -fx-padding: 0 2 0 2;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #dbdad9;
}

.menu-bar .label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
}

.context-menu {
    -fx-background-color: #ffd177;
    -fx-border-width: 2 0 0 0;
    -fx-border-color: #969594;
}

/* taskList and eventList */

#taskListPlaceholder    {
    -fx-background-color: white;
    -fx-background-radius: 5px 5px 5px 5px;
}

.list-cell:filled:even {
    -fx-background-color: #a0f0ff;
}

.list-cell:filled:odd   {
    -fx-background-color: #b2d3ff;
}

.list-cell .label {
    -fx-text-fill: black;
}

.cell_big_label {
    -fx-font-family: "Open Sans Bold Italic";
    -fx-font-size: 14pt;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Open Sans Italic";
    -fx-font-size: 10pt;
    -fx-text-fill: #010504;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-font-family: "Open Sans";
    -fx-text-fill: white;
    -fx-background-color: #787d84;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#eventListPlaceholder   {
    -fx-background-color: white;
    -fx-background-radius: 5px 5px 5px 5px;
}

/* resultBox */

#resultBox {
    -fx-background-color: grey;
    -fx-opacity: 0.45;
    -fx-background-radius: 2px 2px 2px 2px;
}

/* commandBox */

#commandBoxPlaceholder {
    -fx-background-color: grey;
    -fx-opacity: 0.4;
    -fx-background-radius: 4px 4px 4px 4px;
}

.text-field {
    -fx-prompt-text-fill: black;
}

/* statusBar */

#statusBarPlaceholder   {
    -fx-background-color: #f7e399 /*silver #d8d7d0*/;
    -fx-font-color: black;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #dbdad9;

}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
}

.grid-pane .anchor-pane {
    -fx-background-color: #f7e399;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #dbdad9;
}

/* miscs */
.background {
    -fx-background-image: url("../images/light-veneer.png");
    -fx-background-repeat: repeat;
}

.split-pane-divider {
   -fx-background-color: transparent;
}
