<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="DarkTheme.css">
</head>

<body class="background"><font face="Segoe UI" size="4" color="white">
<table>
    <tr>
        <th>Command</th>
        <th>Keyboard Shortcut</th>
    </tr>
    <tr>
        <td>add</td>
        <td>Ctrl + I</td>
    </tr>
    <tr>
        <td>assign</td>
        <td>Ctrl + Shift + A</td>
    </tr>
    <tr>
        <td>clear</td>
        <td>Ctrl + Shift + C</td>
    </tr>
    <tr>
        <td>delete</td>
        <td>Ctrl + D</td>
    </tr>
    <tr>
        <td>edit</td>
        <td>Ctrl + E</td>
    </tr>
    <tr>
        <td>exit</td>
        <td>Ctrl + Q</td>
    </tr>
    <tr>
        <td>find</td>
        <td>Ctrl + F</td>
    </tr>
    <tr>
        <td>help</td>
        <td>F12</td>
    </tr>
    <tr>
        <td>history</td>
        <td>F3</td>
    </tr>
    <tr>
        <td>home</td>
        <td>F1</td>
    </tr>
    <tr>
        <td>list</td>
        <td>F2</td>
    </tr>
    <tr>
        <td>locate</td>
        <td>Ctrl + L</td>
    </tr>
    <tr>
        <td>redo</td>
        <td>Ctrl + Y</td>
    </tr>
    <tr>
        <td>select</td>
        <td>Ctrl + S</td>
    </tr>
    <tr>
        <td>undo</td>
        <td>Ctrl + Z</td>
    </tr>
</body>
</html>
