<!DOCTYPE html>
<html>
<title>Edubuddy</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Helvetica'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="myPage">

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
    <img src="edubuddyhead.png" alt="logobuddy" style="width:100%;min-height:350px;max-height:600px;">
    <div class="w3-container w3-display-bottomleft w3-margin-bottom">
    </div>
</div>

<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
    <h2>EDUBUDDY</h2>
    <p>A secondary school teacher's best companion.</p>

    <div class="w3-row"><br>

        <div class="w3-quarter">
            <img src="../docs/images/johnnychanjx.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
            <h3>Johnny</h3>
            <p>UI/Design</p>
        </div>

        <div class="w3-quarter">
            <img src="../docs/images/Goh Keng Seng.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
            <h3>Keng Seng</h3>
            <p>Appointment System</p>
        </div>

        <div class="w3-quarter">
            <img src="../docs/images/Tey Xin Hui.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
            <h3>Xin Hui</h3>
            <p>Academic System</p>
        </div>

        <div class="w3-quarter">
            <img src="../docs/images/Chua Kun Hong.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
            <h3>Kun Hong</h3>
            <p>CCA & Administrative Systems</p>
        </div>

    </div>
</div>

