/* Fonts */

@font-face {
    src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
    src: url("../fonts/Roboto-ThinItalic.ttf");
}

@font-face {
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    src: url("../fonts/Roboto-LightItalic.ttf");
}

@font-face {
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    src: url("../fonts/Roboto-Italic.ttf");
}

@font-face {
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    src: url("../fonts/Roboto-MediumItalic.ttf");
}

@font-face {
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    src: url("../fonts/Roboto-BoldItalic.ttf");
}

@font-face {
    src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
    src: url("../fonts/Roboto-BlackItalic.ttf");
}


/* Reset / General */

* {
    -fx-box-border: transparent !important;
}

/* Split bar */

.split-pane > .split-pane-divider {
    -fx-padding: 4;
    -fx-background-color: #E8E8E8;
    -fx-background-insets: 5 3 5 3;
}

/* Scroll bar */

.scroll-bar {
    -fx-background-color: #E8E8E8;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
    -fx-padding: 0;
}

.scroll-bar > .thumb {
    -fx-background-color: #D7D7D7;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 5 0 5 0;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 5 0 5;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0;
}

.corner {
    -fx-background-color: transparent;
}



/* Root */

#mainWindow {
    -fx-background-color: white;
}

/* Window border */

#bottomWrapper {
    -fx-border-color: #ccc;
    -fx-border-width: 0 1 1 1;
}

#topCommandPlaceholder {
    -fx-border-color: #ccc;
    -fx-border-width: 0 1 0 0;
}



/* Top Wrapper + Pane */

#topPane {
    -fx-background-color: linear-gradient(to right, #42A5F5, #1976D2);
}

#styleTopPane {
    -fx-background-color: white;
}

/* Title Bar */

#topStatusMessage {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 14;
    -fx-opacity: 0.8;
    -fx-text-fill: white;
}

#topStatusFile {
    -fx-background-color: white;
    -fx-background-radius: 8;

    -fx-border-color: white;
    -fx-border-width: 4 10 4 10;
    -fx-border-radius: 8;
    
    -fx-font-family: "Roboto Light";
    -fx-font-size: 13;
    -fx-text-fill: #616161;
    -fx-text-overrun: leading-ellipsis;
}

/* Controls */

#controlHelpInner, #controlMinimizeInner,
#controlExpand, #controlClose {
    -fx-background-color: white;
}

#controlHelp, #controlMinimize,
#controlExpand, #controlClose {
    -fx-opacity: 0.5;
}

#controlHelp:hover, #controlMinimize:hover,
#controlExpand:hover, #controlClose:hover {
    -fx-opacity: 0.9;
}

/* Command Box */

#topCommand {
    -fx-background-color: white;
}

#commandInput {
    -fx-border-color: white;
    -fx-background-color: #E0E0E0;
    -fx-background-radius: 8;
    -fx-font-family: "Roboto";
    -fx-font-size: 13;
}

#commandInput:focused {
    -fx-background-color: #D8D8D8;
}

/* Result Box */

#commandResult {
    -fx-background-color: white;
    -fx-border-color: #BCBCBC;
    -fx-background-radius: 0;
    -fx-font-family: "Roboto";
    -fx-font-size: 13;
}

#commandResult .content {
    -fx-cursor: text;
    -fx-background-color: white;
}

#commandResult:focused {
    -fx-border-color: #42A5F5;
}

#commandResult:focused .content {
    -fx-background-color: #F5F5F5;
}

/* Bottom */

#welcomePane, #bottomPaneSplit, #infoCalendarPane {
    -fx-background-color: white;
}

#bottomPaneSplit > .split-pane-divider {
    -fx-background-color: transparent;
}

/* List */

#listPersons {
    -fx-background-color: white;
}

#listPersons .list-cell,
#listPersons .list-cell:selected {
    -fx-background-color: transparent;
}

/* Card */

#cardPersonPane {
    -fx-padding: 5 5 5 0;
}

#cardPerson {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}

#cardPerson > * {
    -fx-opacity: 0.5;
}

#listPersons .list-cell:selected #cardPerson > * {
    -fx-opacity: 1;
}

#listPersons .list-cell:selected #cardPerson {
    -fx-border-color: #42A5F5;
}

#listPersons:focused #cardPerson {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 12, 0, 0, 0);
}

#listPersons:focused .list-cell:selected #cardPerson {
    -fx-effect: dropshadow(gaussian, #42A5F5, 12, 0, 0, 0);
}

#cardPhotoPane {
    -fx-background-color: #E8E8E8;
}

#cardPhotoMask {
    -fx-background-color: white;
}

/* Card Info */

#cardPersonInfo .label,
#listPersons .list-cell:selected #cardPersonInfo .label {
    -fx-text-fill: black;
}

#cardPersonName {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 15;
}

#cardPersonUniversity {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 11;
    -fx-opacity: 0.9;
}

#cardPersonEmail {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 10;
    -fx-opacity: 0.8;
}

#cardPersonContact {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 10;
    -fx-opacity: 0.8;
}

/* Card Rating */

#cardPersonRatingPane .label,
#listPersons .list-cell:selected #cardPersonRatingPane .label {
    -fx-text-fill: black;
}

#cardPersonRating {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 11;
    -fx-opacity: 0.8;
}

#iconRating {
    -fx-background-color: #FFC107;
}

/* Card Status */

#cardPersonStatus {
    -fx-background-color: #8BC34A;
    -fx-background-radius: 50;

    -fx-font-family: "Roboto Medium";
    -fx-font-size: 10;
    -fx-text-fill: white;
}

/* Card Number */

#cardPersonNumberPane .label,
#listPersons .list-cell:selected #cardPersonNumberPane .label {
    -fx-text-fill: white;
}

#cardPersonNumber {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 13;
}

#cardPersonNumber, #styleCardPersonNumber {
    -fx-background-color: #BCBCBC;
}

#listPersons .list-cell:selected #cardPersonNumber,
#listPersons .list-cell:selected #styleCardPersonNumber {
    -fx-background-color: #42A5F5;
}

/* Welcome */

#welcomeTitle {
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 18;
}

#welcomeMadeWith {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 13;
    -fx-opacity: 0.5;
}

#welcomeName {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 13;
    -fx-opacity: 0.8;
}

/* Info */

#infoMainPane {
    -fx-background-color: white;
}

#infoSplitPane {
    -fx-background-color: white;
}

#infoMain {
    -fx-background-color: white;
}

#infoMainName {
    -fx-font-family: "Roboto Black";
    -fx-font-size: 20;
    -fx-text-fill: #64b5f6;
}

#infoMainUniversity, #infoMainMajorYear {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 11;
}

/* Info CGPA */

#infoMainCgpaLabel {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 11;
}

#infoMainCgpa {
    -fx-background-color: #64B5F6;
    -fx-background-radius: 100;

    -fx-font-family: "Roboto Bold";
    -fx-font-size: 13;
    -fx-text-fill: white;
}

/* Info Contact */

#iconEmail, #iconAddress, #iconPhone {
    -fx-background-color: #BDBDBD;
}

#infoMainEmail, #infoMainAddress, #infoMainPhone {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 11;
}

/* Info Interview */

#infoMainPositionLabel, #infoMainStatusLabel {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 11;
}

#infoMainPosition, #infoMainStatus {
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 12;
}

#infoMainStatus {
    -fx-text-fill: #8bc34a;
}

#infoMainInterviewDateCalendar {
    -fx-border-color: #B4B4B4;
    -fx-border-radius: 10;
}

#infoMainInterviewMonth {
    -fx-background-color: #64B5F6;
    -fx-background-radius: 9 9 0 0;

    -fx-font-family: "Roboto Bold";
    -fx-font-size: 12;
    -fx-text-fill: white;
}

#infoMainInterviewDate {
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 32;
}

#infoMainInterviewDay {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 11;
}

#infoMainInterviewTime {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 11;
}

/* Info comments */

#infoMainCommentsLabel {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 12;
}

#infoMainComments {
    -fx-background-color: #E8E8E8;
    -fx-background-radius: 8;

    -fx-font-family: "Roboto Medium";
    -fx-font-size: 12;
}

/* Side graph */

#infoSideGraph {
    -fx-background-color: #eee;
}

#infoRatingTechnicalLabel, #infoRatingCommunicationLabel,
#infoRatingProblemSolvingLabel, #infoRatingExperienceLabel {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 11;
}

.rating-progress-bar > .bar {
    -fx-background-color: #2196F3;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 2;
}

.rating-progress-bar > .track {
    -fx-background-color: #BBDEFB;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

/* Side button */

#infoSideButtonResume {
    -fx-background-color: #42A5F5;
    -fx-background-insets: 0;

    -fx-border-radius: 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 12, 0, 0, 3);

    -fx-font-family: "Roboto Medium";
    -fx-font-size: 13;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#infoSideButtonResume:focused,
#infoSideButtonResume:hover {
    -fx-background-color: #1976D2;
}

#infoSideButtonResume:pressed {
    -fx-background-color: #0D47A1;
}



/* Logos */

#logoTop {
    -fx-background-color: white;
}

#logoWelcome {
    -fx-background-color: linear-gradient(to right, #42A5F5, #1976D2);
}



/* SVG Graphics */

.icon-help {
    -fx-shape: "M4.4,7.6c0-0.2,0-0.3,0-0.4c0-0.5,0.1-0.9,0.2-1.2c0.1-0.3,0.3-0.5,0.5-0.8C5.2,5,5.5,4.7,5.9,4.4C6.3,4,6.6,3.7,6.7,3.5C6.9,3.3,6.9,3,6.9,2.8c0-0.5-0.2-0.9-0.5-1.2C6,1.2,5.6,1,5,1C4.5,1,4.1,1.2,3.7,1.5S3.2,2.3,3.1,3L1.8,2.8c0.1-0.9,0.4-1.6,1-2.1S4.1,0,5,0c1,0,1.7,0.3,2.3,0.8s0.9,1.2,0.9,1.9c0,0.4-0.1,0.8-0.3,1.2C7.7,4.2,7.3,4.7,6.7,5.2C6.3,5.5,6,5.8,5.9,6C5.8,6.1,5.7,6.3,5.7,6.5c-0.1,0.2-0.1,0.6-0.1,1H4.4z M4.3,10V8.6h1.4V10H4.3z";
}

.icon-expand {
    -fx-shape: "M0,0v10h10V0H0z M9,9H1V1h8V9z";
}

.icon-close {
    -fx-shape: "M5.9,5L10,9.1L9.1,10L5,5.9L0.9,10L0,9.1L4.1,5L0,0.9L0.9,0L5,4.1L9.1,0L10,0.9L5.9,5z"; 
}

.icon-star {
    -fx-shape: "M4,0.2l0.9,2.9H8L5.5,4.9l1,2.9L4,6L1.5,7.8l1-2.9L0,3.1h3.1L4,0.2z";
}

.icon-email {
    -fx-shape: "M9.1,2.6L10,1.9v6.4c0,0.3-0.2,0.5-0.5,0.5H0.4C0.2,8.8,0,8.6,0,8.3V1.9l0.9,0.7l3.8,2.8c0.1,0,0.2,0.1,0.3,0.1s0.2,0,0.3-0.1L9.1,2.6z M5,4.4l4.4-3.2H0.6L5,4.4z";
}

.icon-address {
    -fx-shape: "M5,0C3.3,0,1.9,1.4,1.9,3.1S3.4,7.2,5,10c1.6-2.8,3.1-5.1,3.1-6.9S6.7,0,5,0z M5,4.4c-0.7,0-1.2-0.6-1.2-1.2S4.3,1.9,5,1.9s1.2,0.6,1.2,1.2S5.7,4.4,5,4.4z";
}

.icon-phone {
    -fx-shape: "M10,7.9c0,0.1,0,0.3-0.1,0.5S9.8,8.8,9.8,8.9C9.7,9.1,9.4,9.4,8.9,9.6C8.5,9.9,8,10,7.6,10c-0.1,0-0.3,0-0.4,0c-0.1,0-0.3,0-0.4-0.1c-0.2,0-0.3-0.1-0.3-0.1c-0.1,0-0.2-0.1-0.4-0.1S5.8,9.5,5.7,9.5C5.3,9.3,4.9,9.1,4.5,8.9C3.9,8.5,3.3,8,2.6,7.4S1.5,6.1,1.1,5.5C0.9,5.1,0.7,4.7,0.5,4.3c0,0-0.1-0.2-0.1-0.3S0.2,3.6,0.2,3.5c0-0.1-0.1-0.2-0.1-0.3S0,2.9,0,2.8c0-0.1,0-0.2,0-0.4C0,2,0.1,1.5,0.4,1.1c0.3-0.5,0.5-0.8,0.8-0.9c0.1-0.1,0.3-0.1,0.5-0.1S2,0,2.1,0c0.1,0,0.1,0,0.1,0c0.1,0,0.2,0.2,0.4,0.5c0.1,0.1,0.1,0.2,0.2,0.4C2.9,1.1,3,1.3,3.1,1.4s0.1,0.3,0.2,0.4c0,0,0.1,0.1,0.1,0.2c0.1,0.1,0.1,0.2,0.2,0.3c0,0.1,0,0.1,0,0.2c0,0.1-0.1,0.2-0.2,0.4C3.3,2.9,3.2,3,3,3.2C2.8,3.3,2.7,3.4,2.6,3.5C2.4,3.7,2.4,3.8,2.4,3.9c0,0,0,0.1,0,0.2c0,0.1,0,0.1,0.1,0.1c0,0,0,0.1,0.1,0.2c0,0.1,0.1,0.1,0.1,0.1C3,5.1,3.4,5.7,3.9,6.1c0.5,0.5,1,0.9,1.7,1.2c0,0,0.1,0,0.1,0.1c0.1,0,0.1,0.1,0.2,0.1c0,0,0.1,0,0.1,0.1c0.1,0,0.1,0,0.2,0c0.1,0,0.2-0.1,0.3-0.2S6.7,7.2,6.8,7s0.2-0.3,0.4-0.4c0.1-0.1,0.3-0.2,0.4-0.2c0.1,0,0.1,0,0.2,0c0.1,0,0.2,0.1,0.3,0.2c0.1,0.1,0.2,0.1,0.2,0.1c0.1,0.1,0.2,0.1,0.4,0.2s0.3,0.2,0.5,0.2s0.3,0.2,0.4,0.2C9.8,7.5,10,7.7,10,7.7C10,7.8,10,7.8,10,7.9z";
}

.style-lower-triangle {
    -fx-shape: "M1,0v1H0L1,0z";
}

.style-upper-triangle {
    -fx-shape: "M0,1V0h1L0,1z";
}

.style-mask-circle {
    -fx-shape: "M1,2H0V1C0,1.6,0.4,2,1,2z M1,2h1V1C2,1.6,1.6,2,1,2z M1,0H0v1C0,0.4,0.4,0,1,0z M1,0c0.6,0,1,0.4,1,1V0H1z";
}

.logo-hr {
    -fx-shape: "M106.5,0.3v181.5H86.2v-80.6H20.3v80.6H0V0.3h20.3v80.6h65.9V0.3H106.5z M124,2.1v21.4c5.3-2.2,11.1-3.4,17.2-3.4c25,0,45.3,20.3,45.3,45.3c0,6-1.2,11.8-3.3,17C180,84.8,175.3,87,169,87c-14.2,0-19.5-12-19.7-12.6c-0.7-1.8-2.8-2.7-4.6-1.9c-1.8,0.7-2.7,2.8-1.9,4.6c0.3,0.7,7.1,17,26.2,17c2.9,0,5.6-0.4,8-1c-8.3,10.6-21.2,17.5-35.7,17.5c-6.1,0-11.9-1.2-17.2-3.4v21.4c5.5,1.5,11.3,2.3,17.2,2.3c8,0,15.7-1.4,22.8-4.1c5.7,7.6,16.4,25.3,20.7,55.1h20.5c-4.2-33.1-15.6-54.2-23.4-65.2c15.2-12,25-30.6,25-51.4c0-33.9-25.9-61.9-58.9-65.2h-13.4C131,0.5,127.4,1.1,124,2.1z M164,59.5c-3.9,0-7.1-3.2-7.1-7.1c0-3.9,3.2-7.1,7.1-7.1s7.1,3.2,7.1,7.1C171.1,56.4,167.9,59.5,164,59.5z M256,112.3h-15.2V97.1h-15.2v15.2h-15.2v15.2h15.2v15.2h15.2v-15.2H256V112.3z";
}
