.background {
    -fx-background-color: #ECEFF1;
    background-color: #ECEFF1; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #212121;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #212121;
    -fx-opacity: 1;
}

.label-muted {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #616161;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 24pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #212121;
    -fx-opacity: 1;
}

.label-subheading {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #212121;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #212121;
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #ECEFF1;
    -fx-control-inner-background: #ECEFF1;
    -fx-background-color: #ECEFF1;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, -80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #212121;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: #ECEFF1;
    -fx-border-color: transparent transparent transparent #CFD8DC;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: #ECEFF1;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #ECEFF1;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #d5dee2;
}

.list-cell:filled:odd {
    -fx-background-color: #e0eaee;
}

.list-cell:filled:selected {
    -fx-background-color: #b6c4cb;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #90A4AE;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: #111;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #111;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #111;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.anchor-pane {
     -fx-background-color: #ECEFF1;
}

.pane-with-border {
     -fx-background-color: #ECEFF1;
     -fx-border-color: #d5dee2;
     -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: #ECEFF1;
    -fx-text-fill: black;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 12pt;
    -fx-text-fill: #111;
}

.result-display .label {
    -fx-text-fill: #111 !important;
}

.result-display .text {
    -fx-line-spacing: -0.15em;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #424242;
}

.status-bar-with-border {
    -fx-background-color: #c9d2d6;
    -fx-border-color: #c9d2d6;
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: #111;
}

.grid-pane {
    -fx-background-color: #c9d2d6;
    -fx-border-color: #c9d2d6;
    -fx-border-width: 1px;
}

.grid-pane .anchor-pane {
    -fx-background-color: #c9d2d6;
}

.context-menu {
    -fx-background-color: #b6c4cb;
}

.context-menu .label {
    -fx-text-fill: #333;
}

.menu-bar {
    -fx-background-color: #e0eaee;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #424242;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #FAFAFA;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #FAFAFA;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #FAFAFA;
    -fx-text-fill: #666;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #111;
}

.button:default:hover {
    -fx-background-color: #d5dee2;
}

.dialog-pane {
    -fx-background-color: #FAFAFA;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #FAFAFA;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: #d5dee2;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #111;
    -fx-text-fill: #111;
}

.scroll-bar {
    -fx-background-color: #ECEFF1;
}

.scroll-bar .thumb {
    -fx-background-color: #c9d2d6;
    -fx-background-insets: 4;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.error {
    -fx-text-fill: #d32f2f !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #ECEFF1;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: black;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent #ECEFF1 transparent #ECEFF1;
    -fx-background-insets: 0;
    -fx-border-color: #ECEFF1 #ECEFF1 #B0BEC5 #ECEFF1;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: #222;
}

#filterField, #bookListPanel, #bookWebpage {
    -fx-effect: innershadow(gaussian, white, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: transparent, #ECEFF1, transparent, #ECEFF1;
    -fx-background-radius: 0;
}

#description {
    -fx-font-size: 10pt;
}

.pills, .pills-authors, .pills-categories, .pills-authors-small, .pills-categories-small {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

.pills .label {
    -fx-text-fill: white;
    -fx-padding: 1 5 1 5;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
    -fx-font-size: 9pt;
}

.pills-authors .label {
    -fx-text-fill: #222;
    -fx-padding: 1 3 1 3;
    -fx-background-color: #81C78488;
    -fx-font-size: 10pt;
}

.pills-authors-small .label {
    -fx-text-fill: #222;
    -fx-padding: 1 3 1 3;
    -fx-background-color: #81C78488;
    -fx-font-size: 9pt;
}

.pills-categories .label {
    -fx-text-fill: #222;
    -fx-padding: 1 3 1 3;
    -fx-background-color: #80DEEA88;
    -fx-font-size: 10pt;
}

.pills-categories-small .label {
    -fx-text-fill: #222;
    -fx-padding: 1 3 1 3;
    -fx-background-color: #80DEEA88;
    -fx-font-size: 9pt;
}

.status-unread.label {
    -fx-background-color: #c62828;
}

.status-reading.label {
    -fx-background-color: #f4a525;
}

.status-read.label {
    -fx-background-color: #2E7D32;
}

.priority-none.label {
    -fx-background-color: #78909C;
}

.priority-low.label {
    -fx-background-color: #558B2F;
}

.priority-medium.label {
    -fx-background-color: #FF8F00;
}

.priority-high.label {
    -fx-background-color: #D84315;
}

.rating-unrated.label {
    -fx-background-color: #78909C;
}

.rating-rated.label {
    -fx-background-color: #78909C;
    -fx-text-fill: #F9A825;
}
