/*
 * @@author demitycho
 */
@font-face {
    src: url("./ProFontWindows.ttf");
}
@font-face {
    src: url("./Montserrat-Semibold.ttf");
}
.background {
    -fx-background-color: derive(#1d1d1d, 20%);
    background-color: #383838; /* Used in the default.html file */
}

.root * {
    base: black;
    light: white;
    primary: #71b280;
    secondary: #134e5e;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 13px;
    -fx-font-family: "Montserrat Light", sans-serif;
}

#details {
    -fx-background-color: linear-gradient(to right, #134e5e, #71b280);
}
#studentListView {
    -fx-padding: 0 0 0 20px;
    -fx-background-color: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.9) , 15, 0.0 , 0 , 2 );

    -fx-background-insets: 0 0 0 20;
}

#commandBoxPlaceholder {
    -fx-border-color: transparent transparent white transparent;

}

#commandTypeLabel {
    -fx-font-size: 20px;
    -fx-text-fill: white;

}

.context-menu {
    -fx-background-color: derive(secondary, 30%);
}

.context-menu .label {
    -fx-text-fill: white;
}
#commandTextField {
    -fx-font-family: "ProFontWindows", "Courier New";
    -fx-font-size: 18pt;
    -fx-text-fill: white;

}

.result-display {
    -fx-font-size: 15pt;
    -fx-border-insets: 0 10 1 0;
    -fx-text-fill: white;
}

/*
 * Student panels
 */
.list-cell {
    -fx-border-color: transparent transparent lightgrey transparent;
    -fx-border-width: 3;
}
.list-cell:filled:selected {
    -fx-background-color: rgba(0, 0, 0, 0.6);
}
.list-cell:filled:hover {
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

/*
 *  Scroll bars
 */

.scroll-bar {
    -fx-background-color: derive(darkgrey, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(lightgray, 80%);
    -fx-background-insets: 1;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 4 1 4;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 4 1 4 1;
}

#infoPanel {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.8) , 15, 0.0 , 0 , 2 );
}

.pane-with-border {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.8) , 15, 0.0 , 0 , 2 );
}
/**
 * Menu Bar
 */

#menuBar {
    -fx-background-color: linear-gradient(to right, #134e5e, #71b280);
    -fx-text-fill: white;
    -fx-border-color: transparent transparent black transparent;

}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}




/*For Tags*/
#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
    -fx-opacity: 0.8;
}

#tags .label {
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#tags .teal {
    -fx-text-fill: black;
    -fx-background-color: teal;
}

#tags .red {
    -fx-text-fill: white;
    -fx-background-color: red;
}

#tags .blue {
    -fx-text-fill: white;
    -fx-background-color: blue;
}

#tags .orange {
    -fx-text-fill: black;
    -fx-background-color: orange;
}

#tags .yellow {
    -fx-text-fill: black;
    -fx-background-color: yellow;
}

#tags .cyan {
    -fx-text-fill: black;
    -fx-background-color: cyan;
}

#tags .gold {
    -fx-text-fill: white;
    -fx-background-color: gold;
}
#tags .khaki {
    -fx-text-fill: black;
    -fx-background-color: khaki;
}

#tags .green {
    -fx-text-fill: black;
    -fx-background-color: green;
}

#tags .olive {
    -fx-text-fill: white;
    -fx-background-color: olive;
}

.test {
    -fx-font-size: 25px !important;

}
