<!DOCTYPE html>
<html lang="en">
<head>
    <title>Task List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<!-- @@author EdwardKSG -->
<body  style="background-color:grey;"><div class="container"  style="background-color:grey;"><h2 style="font-family:verdana; color:white">CS2103 LOs</h2>
    <br>

    <!-- completed task -->
    <div class="panel panel-success">
        <div class="panel-heading">1. LO[W6.5][Submission]&#9733;&#9733;&#9733;</div>
        <div class="panel-body">
            <dd style="font-family:verdana; color:black;">&#9888; &nbsp;2018-02-22</dd>
            <dd style="font-family:verdana; color:darkseagreen;">&#9873; &nbsp;Completed! &#9745;</dd>
            <dd style="font-family:verdana; color:black;">&#9998; &nbsp;Can use JavaFX to build a simple GUI: </dd>
            <p><a href="https://nus-cs2103-ay1718s2.github.io/website/schedule/week6/outcomes.html">https://nus-cs2103-ay1718s2.github.io/website/schedule/week6/outcomes.html</a></p>
        </div>
    </div>

    <!-- pending task -->
    <div class="panel panel-danger">
        <div class="panel-heading">2. LO[W5.11][Compulsory][Submission]&#9733;</div>
        <div class="panel-body">
            <dd style="font-family:verdana; color:black;">&#9888; &nbsp;2018-02-15</dd>
            <dd style="font-family:verdana; color:red;">&#9873; &nbsp;Please work on it :) &#9744;</dd>
            <dd style="font-family:verdana; color:black;">&#9998; &nbsp;Work with a 2KLoC code base: </dd>
            <p><a href="https://nus-cs2103-ay1718s2.github.io/website/schedule/week5/outcomes.html">https://nus-cs2103-ay1718s2.github.io/website/schedule/week5/outcomes.html</a></p>
        </div>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading">3. LO[W4.1]&#9733;&#9733;&#9733;</div>
        <div class="panel-body">
            <dd style="font-family:verdana; color:black;">&#9888; &nbsp;2018-02-08</dd>
            <dd style="font-family:verdana; color:red;">&#9873; &nbsp;Please work on it :) &#9744;</dd>
            <dd style="font-family:verdana; color:black;">&#9998; &nbsp;Can explain models: </dd>
            <p><a href="https://nus-cs2103-ay1718s2.github.io/website/schedule/week4/outcomes.html">https://nus-cs2103-ay1718s2.github.io/website/schedule/week4/outcomes.html</a></p>
        </div>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading">4. LO[W3.10][Compulsory][Submission]&#9733;</div>
        <div class="panel-body">
            <dd style="font-family:verdana; color:black;">&#9888; &nbsp;2018-02-01</dd>
            <dd style="font-family:verdana; color:red;">&#9873; &nbsp;Please work on it :) &#9744;</dd>
            <dd style="font-family:verdana; color:black;">&#9998; &nbsp;Work with a 1KLoC code base: </dd>
            <p><a href="https://nus-cs2103-ay1718s2.github.io/website/schedule/week3/outcomes.html">https://nus-cs2103-ay1718s2.github.io/website/schedule/week3/outcomes.html</a></p>
        </div>
    </div>
</div>
</div>

</dl>
<h2 style="font-family:verdana; color:white">You have completed 1/4 !</h2></body>
</html>
