<!-- @@author EdwardKSG -->
<!DOCTYPE html>
<html>
<body style="background-color:grey;">
<h1 style="font-family:verdana; color:white">CS2103 LOs</h1>
<hr />
<dl>
    <dt style="font-family:verdana; color:antiquewhite;">1. LO[W6.5][Submission]⭐⭐⭐</dt>
    <dd style="font-family:verdana; color:white;">Due: &nbsp;&nbsp;&nbsp;2018-02-22</dd>
    <dd style="font-family:verdana; color:red;">Status:   needsAction</dd>
    <dd style="font-family:verdana; color:white;">Notes: &nbsp;&nbsp;Can use JavaFX to build a simple GUI: https://nus-cs2103-ay1718s2.github.io/website/schedule/week6/outcomes.html</dd>
    <hr />
    <dt style="font-family:verdana; color:antiquewhite;">2. LO[W5.11][Compulsory][Submission]⭐</dt>
    <dd style="font-family:verdana; color:white;">Due: &nbsp;&nbsp;&nbsp;2018-02-15</dd>
    <dd style="font-family:verdana; color:red;">Status:   needsAction</dd>
    <dd style="font-family:verdana; color:white;">Notes: &nbsp;&nbsp;Work with a 2KLoC code base: https://nus-cs2103-ay1718s2.github.io/website/schedule/week5/outcomes.html</dd>
    <hr />
    <dt style="font-family:verdana; color:antiquewhite;">3. LO[W4.1]⭐⭐⭐</dt>
    <dd style="font-family:verdana; color:white;">Due: &nbsp;&nbsp;&nbsp;2018-02-08</dd>
    <dd style="font-family:verdana; color:red;">Status:   needsAction</dd>
    <dd style="font-family:verdana; color:white;">Notes: &nbsp;&nbsp;Can explain models: https://nus-cs2103-ay1718s2.github.io/website/schedule/week4/outcomes.html</dd>
    <hr />
    <dt style="font-family:verdana; color:antiquewhite;">4. LO[W3.10][Compulsory][Submission]⭐</dt>
    <dd style="font-family:verdana; color:white;">Due: &nbsp;&nbsp;&nbsp;2018-02-01</dd>
    <dd style="font-family:verdana; color:red;">Status:   needsAction</dd>
    <dd style="font-family:verdana; color:white;">Notes: &nbsp;&nbsp;Work with a 1KLoC code base: https://nus-cs2103-ay1718s2.github.io/website/schedule/week3/outcomes.html</dd>
    <hr />
</dl>
</body>
</html>
