<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Dummy Search Page</title>
  <script type="text/javascript">
    function getJsonFromUrl() {
      var query = location.search.substr(1);
      var result = {};
      query.split("&").forEach(function(part) {
        var item = part.split("=");
        result[item[0]] = decodeURIComponent(item[1]);
      });
      return result;
    }

    document.addEventListener("DOMContentLoaded", function(event) {
      document.getElementById("code").innerHTML=getJsonFromUrl().code;
    });
  </script>
</head>
<body>
  Hi! It seems that there isn't subreddit for the coin you wished to load.<br>
</body>
</html>
