.list-cell:filled:even {
    -fx-background-color: #22A86D;
    -fx-background-radius: 30px;

    -fx-border-radius: 20px;
    -fx-border-width: 5px;
    -fx-border-color: #1B6041;
}

.list-cell:filled:odd {
    -fx-background-color: #22A86D;
    -fx-background-radius: 30px;

    -fx-border-radius: 20px;
    -fx-border-width: 5px;
    -fx-border-color: #1B6041;
}
