.list-cell:filled:even {
    -fx-background-color: #bbb;
    -fx-background-radius: 30px;

    -fx-border-radius: 20px;
    -fx-border-width: 5px;
    -fx-border-color: #757575;
}

.list-cell:filled:odd {
    -fx-background-color: #bbb;
    -fx-background-radius: 30px;

    -fx-border-radius: 20px;
    -fx-border-width: 5px;
    -fx-border-color: #757575;
}
