/* Theme design inspired by https://github.com/CS2103AUG2017-W15-B2/main */

.root {
    -fx-accent: #81D4FADD;
    -fx-focus-color: #81D4FADD;
}

.background {
    -fx-background-color: #e4e4e4;
    background-color: #e4e4e4; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #222;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #222;
    -fx-opacity: 1;
}

.label-muted {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #616161;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 24pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #212121;
    -fx-opacity: 1;
}

.label-subheading {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #212121;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #212121;
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #e4e4e4;
    -fx-control-inner-background: #e4e4e4;
    -fx-background-color: #e4e4e4;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, -80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #212121;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: #e4e4e4;
    -fx-border-color: transparent;
}

.split-pane {
    -fx-background-color: #e4e4e4;
    -fx-border-color: #e4e4e4;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #f9f9f9;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled {
    -fx-background-color: #f9f9f9;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #e8e8e8;
}

.list-cell:filled:selected {
    -fx-background-color: #81D4FADD;
}

.list-cell .label {
    -fx-text-fill: #111;
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #f9f9f9;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #111;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #111;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: none;
    -fx-padding: 0 0 0 0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.anchor-pane {
    -fx-background-color: transparent;
}

.content-pane {
    -fx-background-color: #f9f9f9;
}

.pane-with-border {
    -fx-background-color: #e4e4e4;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 12pt;
    -fx-text-fill: #111;
}

.result-display .label {
    -fx-text-fill: #111 !important;
}

.result-display .text {
    -fx-line-spacing: -0.15em;
}

.status-bar {
    -fx-background-color: #f2f2f2;
    -fx-text-fill: black;
    -fx-padding: 0.3em 0.6em 0.3em 0.6em;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 14px;
    -fx-text-fill: #383838;
}

.status-bar-with-border {
    -fx-background-color: #c9d2d6;
    -fx-border-color: #c9d2d6;
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: #111;
}

.grid-pane {
    -fx-background-color: #f2f2f2;
}

.grid-pane .anchor-pane {
    -fx-background-color: #f2f2f2;
}

.context-menu {
    -fx-background-color: #eee;
}

.context-menu .label {
    -fx-text-fill: #333;
}

.menu-bar {
    -fx-background-color: #f2f2f2;
    -fx-padding: 0 0.5em 0 0.5em;
}

.menu-bar .menu {
    -fx-padding: 0.2em 0.6em 0.2em 0.6em;
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #383838;
    -fx-opacity: 1;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #FAFAFA;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #FAFAFA;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #FAFAFA;
    -fx-text-fill: #666;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #111;
}

.button:default:hover {
    -fx-background-color: #d5dee2;
}

.dialog-pane {
    -fx-background-color: #FAFAFA;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #FAFAFA;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: #d5dee2;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #111;
    -fx-text-fill: #111;
}

.scroll-bar {
    -fx-background-color: #d9d9d9;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .thumb {
    -fx-background-color: #bfbfbf;
    -fx-background-insets: 4;
    -fx-background-radius: 5px;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 0 8 0 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 0 8 0;
}

.error {
    -fx-text-fill: #d32f2f !important; /* The error class should always override the default text-fill style */
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: #222;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: #f9f9f9;
    -fx-background-insets: 0;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: #222;
}

#resultDisplay .content {
    -fx-background-color: #f9f9f9;
    -fx-background-radius: 0;
}

#commandTextField, #resultDisplay, #bookListContainer, #bookDetailsContainer {
    -fx-highlight-text-fill: #222;
    -fx-effect: dropShadow(three-pass-box, #d5d5d5, 8, 0, 2, 2);
}

#description {
    -fx-font-size: 10pt;
}

#bookDetailsPane {
    -fx-padding: 10px 12px 10px 12px;
}

.pills, .pills-authors, .pills-categories, .pills-authors-small, .pills-categories-small {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

.pills .label {
    -fx-text-fill: white;
    -fx-padding: 1 5 1 5;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
    -fx-font-size: 9pt;
}

.pills-authors .label {
    -fx-text-fill: #222;
    -fx-padding: 1 3 1 3;
    -fx-background-color: #66BB6A99;
    -fx-font-size: 10pt;
}

.pills-authors-small .label {
    -fx-text-fill: #222;
    -fx-padding: 1 3 1 3;
    -fx-background-color: #66BB6A99;
    -fx-font-size: 9pt;
}

.pills-categories .label {
    -fx-text-fill: #222;
    -fx-padding: 1 3 1 3;
    -fx-background-color: #00BCD499;
    -fx-font-size: 10pt;
}

.pills-categories-small .label {
    -fx-text-fill: #222;
    -fx-padding: 1 3 1 3;
    -fx-background-color: #00BCD499;
    -fx-font-size: 9pt;
}

.status-unread.label {
    -fx-background-color: #c62828CC;
}

.status-reading.label {
    -fx-background-color: #f4a525CC;
}

.status-read.label {
    -fx-background-color: #2E7D32CC;
}

.priority-none.label {
    -fx-background-color: #78909CCC;
}

.priority-low.label {
    -fx-background-color: #558B2FCC;
}

.priority-medium.label {
    -fx-background-color: #FF8F00CC;
}

.priority-high.label {
    -fx-background-color: #D84315CC;
}

.rating-unrated.label {
    -fx-background-color: #78909CCC;
}

.rating-rated.label {
    -fx-background-color: #78909CCC;
    -fx-text-fill: #F9A825;
}
